---
layout: default
---
<h1><i class="fa fa-file"></i> <i>{{ page.title }}</i></h1>

<div class="row">
{% if content %}
  <section class="col-md-6 col-sm-6">
    {{content}}
    {% capture folder %}static/img{{ page.id }}{% endcapture %}
  </section>

  <section class="info col-md-4 col-md-offset-1 col-sm-6">
    {% assign people = site.people | where: "slug", page.artist %}
    {% for person in people %}
      <strong>
        Artist: 
        <a href="{{ person.url }}">
          {{ person.title }} <br />
          <img src="{{site.baseurl}}/static/img/{{ person.id }}.jpg"/>
        </a>
      </strong>
    {% endfor %}
  </section>

  <section class="col-md-12 col-sm-12" style="margin-top: 50px">
    {% for vimeo_id in page.vimeo %}
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{vimeo_id}}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    {% endfor %}
    {% include image-gallery.html folder=folder %}
  </section>
{% endif %}
</div>
