---
layout: default
---
<div class="row">
{% if content %}
  <section class="col-md-12 col-sm-12">
    <h1>{{ page.title }}</h1>
  </section>

  <section class="col-md-6 col-sm-6">
    {{content}}
    {% capture folder %}static/img{{ page.id }}{% endcapture %}
    <br /><br />
  </section>

  <section class="info col-md-4 col-md-offset-1 col-sm-6">
    <h4>Artist</h4>
    {% assign people = site.people | where: "slug", page.artist %}
    {% for person in people %}
      <a href="{{ person.url }}">
        <h4>{{ person.title }}</h4>
        <img src="{{site.baseurl}}/static/img/{{ person.id }}.jpg"/>
      </a>
    {% endfor %}
  </section>

  <section class="col-md-12 col-sm-12">
    {{ page.video }}
    {% include image-gallery.html folder=folder %}
  </section>
{% endif %}
</div>
